.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 2rem;

	background-color: white;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	border-radius: 2rem;

	cursor: pointer;
}

.column {
	display: flex;
	flex-direction: column;
	row-gap: 0.4rem;
	width: 100%;
}

.title {
	display: flex;

	justify-content: space-between;
	font-size: 2rem;

	@media (max-width: 1024px) {
	}
	@media (max-width: 767px) {
		font-size: 1.5rem;
	}
	@media (max-width: 500px) {
		font-size: 1rem;
	}

	&::first-letter {
		text-transform: uppercase;
	}
}

.description {
	font-weight: 800;
	opacity: 0.4;
}

.error {
	position: relative;
	font-weight: 500;
	font-size: 2rem;
	opacity: 1;
	color: #8b0000;

	@media (max-width: 1024px) {
	}
	@media (max-width: 767px) {
	}
	@media (max-width: 500px) {
		font-size: 1rem;
	}

	&__label {
		display: flex;
		column-gap: 1rem;

		position: absolute;

		@media (max-width: 1024px) {
			top: -0.8rem;
		}
		@media (max-width: 767px) {
			top: -0.5rem;
		}
		@media (max-width: 500px) {
			top: 0.5rem;
		}
	}
	&__input {
		position: relative;
		color: #8b0000;
		margin-right: 1.5rem;
	}

	&__icon {
		position: relative;
		top: 0.3rem;
	}
}

.userIcon {
	position: relative;
	font-size: 4rem;
	opacity: 0.4;
	@media (max-width: 1024px) {
	}
	@media (max-width: 767px) {
		left: 1rem;
		font-size: 4rem;
	}
	@media (max-width: 500px) {
		left: 1rem;
		font-size: 2rem;
	}
}

.input {
	border: none;
	width: 95%;
}

input[type='text'] {
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	@media (max-width: 1024px) {
	}
	@media (max-width: 767px) {
		font-size: 1.5rem;
	}
	@media (max-width: 500px) {
		font-size: 1rem;
	}
}
