.wrapper {
	display: flex;
	font-size: 2rem;
	font-weight: 500;
	@media (max-width: 1024px) {
		font-size: 1.5rem;
	}
}

.date {
	margin-right: 2rem;
	color: var(--grey);
}

.birthday {
	color: white;
}
