.button {
	padding: 1.5rem;
	border-radius: 2rem;

	font-size: 2.5rem;

	color: white;
	background-color: #ea003d;

	transition: background-color 0.2s ease-in;

	@media (max-width: 500px) {
		font-size: 1.5rem;
		padding: 1rem;
	}

	&:hover {
		filter: contrast(0.9);
		transition: all 0.2s ease-in;
	}
}
