.button {
	width: fit-content;

	font-size: 3rem;
	color: var(--grey);

	cursor: pointer;

	transition: color 0.3s ease-in;
	&:hover {
		transition: color 0.3s ease-in;
		color: white;
	}

	@media (max-width: 1024px) {
		font-size: 2.5rem;
	}
	@media (max-width: 767px) {
		font-size: 2rem;
	}
	@media (max-width: 500px) {
		font-size: 1.5rem;
	}
}
