.logo {
	cursor: pointer;
	font-size: 3.8rem;
	font-weight: 300;

	background: linear-gradient(
		to right,
		rgb(219, 234, 254),
		rgb(147, 197, 253),
		rgb(59, 130, 246)
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;

	@media (max-width: 500px) {
		font-size: 2.2rem;
	}
}
