.wrapper {
	position: relative;
}

.pause {
	width: 2rem;
	height: 2rem;
	filter: drop-shadow(0 0 5px #000);
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 27%,
		rgba(0, 212, 255, 1) 100%
	);
}

.play {
	position: absolute;
}
