.wrapper {
	display: flex;
	color: white;
	font-size: 2rem;
	font-weight: 500;

	@media (max-width: 1024px) {
		font-size: 1.5rem;
	}
}

.career {
	color: var(--grey);
	margin-right: 2rem;
}

.profission {
	display: flex;
	column-gap: 2rem;
}
