.description {
	font-size: 2.3rem;
	max-width: 60rem;

	-webkit-line-clamp: 2; /* Число отображаемых строк */
	display: -webkit-box; /* Включаем флексбоксы */
	-webkit-box-orient: vertical; /* Вертикальная ориентация */
	overflow: hidden;

	@media (max-width: 1024px) {
	}
	@media (max-width: 767px) {
		font-size: 1.8rem;
	}
	@media (max-width: 500px) {
		font-size: 1.5rem;
	}
}
