@import 'reset.scss';
@import 'vars.scss';
@import 'mixin.scss';
@import 'swiper.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

html {
	font-family: 'Montserrat', sans-serif;
	font-size: calc(100vw / 1920 * 10);

	@media (max-width: 1024px) {
		font-size: calc(100vw / 768 * 10);
	}
	@media (max-width: 767px) {
		font-size: calc(100vw / 500 * 10);
	}
	@media (max-width: 500px) {
		font-size: calc(100vw / 375 * 10);
	}
}

body {
	background-color: black;
}

*::-webkit-scrollbar {
	width: 14px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
	background: rgb(79, 79, 79); /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
	background-color: rgb(52, 52, 52); /* цвет плашки */
	border-radius: 20px; /* закругления плашки */
	border: 3px solid rgb(79, 79, 79); /* padding вокруг плашки */
}
