.button > * {
	padding: 3rem;
	border-radius: 10rem;

	font-size: 3rem;
	font-weight: 500;

	text-transform: uppercase;

	cursor: pointer;

	transition: color 0.3s ease-in;
	&:hover {
		color: rgb(0, 68, 255);
		transition: color 0.3s ease-in;
	}

	@media (max-width: 1024px) {
		padding: 2.5rem;
		font-size: 2.5rem;
	}
	@media (max-width: 767px) {
		padding: 2rem;
		font-size: 2rem;
	}
	@media (max-width: 500px) {
		font-size: 1.5rem;
	}
}

.button {
	display: flex;
	column-gap: 10rem;
	text-align: center;
	@media (max-width: 1024px) {
	}
	@media (max-width: 767px) {
	}
	@media (max-width: 500px) {
		column-gap: 1rem;
	}
}

.addButton {
	padding: 3rem;
	border-radius: 10rem;

	font-size: 3rem;
	font-weight: 500;

	text-transform: uppercase;

	cursor: pointer;

	transition: color 0.3s ease-in;
	&:hover {
		color: rgb(0, 68, 255);
		transition: color 0.3s ease-in;
	}

	@media (max-width: 1024px) {
		padding: 2.5rem;
		font-size: 2.5rem;
	}
	@media (max-width: 767px) {
		padding: 2rem;
		font-size: 2rem;
	}
	@media (max-width: 500px) {
		font-size: 1.5rem;
	}
}
