.wrapper {
	padding-top: 9rem;
	@media (max-width: 1024px) {
		padding-top: 4rem;
	}
	@media (max-width: 767px) {
		padding-top: 4rem;
	}
	@media (max-width: 500px) {
		padding-top: 2rem;
	}
}

.info {
	display: flex;

	flex-direction: column;
	row-gap: 4rem;
}
